敘述(statement) --> 不會傳出值
運算式(expression)

In [7]:
import yfinance as yf
tw2330 = yf.download('2330.tw',start='2024-01-01',end='2024-06-30',auto_adjust=True)
tw2303 = yf.download('2303.tw',start='2024-01-01',end='2024-06-30',auto_adjust=True)
tw2454 = yf.download('2454.tw',start='2024-01-01',end='2024-06-30',auto_adjust=True)
tw2317 = yf.download('2317.tw',start='2024-01-01',end='2024-06-30',auto_adjust=True)
tw2317

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker         2317.TW     2317.TW     2317.TW     2317.TW    2317.TW
Date
2024-01-02  102.375000  102.375000  101.400000  101.887500   19921105
2024-01-03  101.887505  102.375005  101.400005  101.887505   18957682
2024-01-04  101.400002  102.375002  101.400002  101.887502   15488559
2024-01-05  101.400002  101.887502  101.400002  101.400002   13349572
2024-01-08   98.962502  101.400002   98.962502  100.912502   34642006
...                ...         ...         ...         ...        ...
2024-06-24  200.850006  204.750006  199.875006  204.262506  104052744
2024-06-25  205.725006  206.700006  195.975006  197.925006  116945868
2024-06-26  204.750000  210.112500  204.750000  206.212500  107811774
2024-06-27  207.187500  209.137500  202.312500  202.800000   84781047
2024-06-28  208.650009  210.600009  207.187509  208.650009   75725075

[117 rows x 5 columns]

雙索引：level 由外而內
單索引: 由上而下

In [4]:
tw2330[('Close','2330.TW')]

Date
2024-01-02    593.0
2024-01-03    578.0
2024-01-04    580.0
2024-01-05    576.0
2024-01-08    583.0
              ...
2024-06-24    940.0
2024-06-25    945.0
2024-06-26    960.0
2024-06-27    960.0
2024-06-28    966.0
Name: (Close, 2330.TW), Length: 117, dtype: float64

In [5]:
tw2330_s = tw2330[('Close','2330.TW')]
tw2303_s = tw2303[('Close','2303.TW')]
tw2454_s = tw2454[('Close','2454.TW')]
tw2317_s = tw2317[('Close','2317.TW')]

In [6]:
import pandas as pd
df_price = pd.DataFrame({'台積電':tw2330_s,'聯電':tw2303_s,'聯發科':tw2454_s,'鴻海':tw2317_s})
df_price

              台積電         聯電          聯發科          鴻海
Date
2024-01-02  593.0  51.900002   915.833130  102.375000
2024-01-03  578.0  50.599998   889.693176  101.887505
2024-01-04  580.0  50.799999   889.309875  101.400002
2024-01-05  576.0  50.799999   882.601685  101.400002
2024-01-08  583.0  50.500000   881.643372   98.962502
...           ...        ...          ...         ...
2024-06-24  940.0  56.799999  1351.214233  200.850006
2024-06-25  945.0  56.400002  1327.256592  205.725006
2024-06-26  960.0  56.599998  1346.422852  204.750000
2024-06-27  960.0  56.400002  1336.839722  207.187500
2024-06-28  966.0  55.700001  1341.631226  208.650009

[117 rows x 4 columns]

In [ ]:
tw2330_s = tw2330['Close']['2330.TW']
tw2303_s = tw2303['Close']['2303.TW']
tw2454_s = tw2454['Close']['2454.TW']
tw2317_s = tw2317['Close']['2317.TW']

In [ ]:
pd.DataFrame({'台積電':tw2330_s,'聯電':tw2303_s,'聯發科':tw2454_s,'鴻海':tw2317_s})