https://www.perplexity.ai/search/f9b40ada-565a-4ef9-aba5-3afd8763b3ca
### Series和DataFrame透過mask的選取

利用 NumPy 和 pandas 建立一個連續整數的 Series。
-np.arange(50,70)
產生一個從 50 到 69 的一維 NumPy 陣列（包含 50，不包含 70），也就是 [50, 51, 52, ..., 69] 共 20 個整數。
-pd.Series(...)
將這個 NumPy 陣列轉換成 pandas 的 Series 物件。Series 是一種帶有索引的一維資料結構，類似於帶標籤的陣列。
-s1
這個變數會儲存上述產生的 Series。其內容如下：

In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(50,70))
s1

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [ ]:
#透過值的選取
#值的搜尋
#mask的技巧,要使用比較運算子得到boolean的資料
mask = s1 >= 60
s1[mask]

10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

用於「條件篩選」pandas Series 中的資料。
這行會對 s1（一個包含 50~69 的 pandas Series）進行逐元素比較，判斷每個元素是否大於等於 60。
結果會產生一個布林型態的 Series，內容如下：
利用剛才產生的布林遮罩，選出 s1 中所有大於等於 60 的元素。
結果會是一個新的 Series，只包含符合條件的資料。例如：
非常適合用於資料分析、資料清理與篩選。

In [17]:
##DataFrame
data = np.random.randint(50, 101,size=(5,5))
df = pd.DataFrame(data,
            index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])

In [16]:
# 選取歷史>=60
df[df['歷史'] >= 60]

     國文  英文  數學  地理  歷史
學生1  71  58  88  80  67
學生2  51  80  76  73  66

In [15]:
#選取歷史>=60，同時數學>=60
#位元邏輯運算子
df[(df['歷史'] >= 60) & (df['數學'] >= 60)]

     國文  英文  數學  地理  歷史
學生1  71  58  88  80  67
學生2  51  80  76  73  66

df['歷史'] >= 60：產生一個布林遮罩，標記每位學生的「歷史」分數是否大於等於 60。
df['數學'] >= 60：產生另一個布林遮罩，標記「數學」分數是否大於等於 60。
&：將兩個條件做「且」運算，只有同時滿足兩個條件的學生才會被選中。
df[...]：用這個複合條件遮罩，選出符合條件的所有列（學生）。
結果：
這樣會得到一個新的 DataFrame，只包含「歷史」和「數學」兩科分數都及格（>=60）的學生及其所有科目分數，非常適合用於資料篩選與分析。