In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]})
type(df.style)

display(df)
s = df.style\
.format(precsion=3,thousands=".",decimal=".")\
.format_index(str.upper, axis=1)\
.relabel_index(["列1","列2"])

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

TypeError: StylerRenderer.format() got an unexpected keyword argument 'precsion'

In [2]:
#Styler.format()
#Style.format_index()
#Style.relabel_index()

import pandas as pd
import numpy as np 

df = pd.DataFrame({
    "strings": ["Adam", "Mike"],
    "ints": [1, 3],
    "floats": [1.123, 1000.23]
})
type(df.style)

display(df)
s = df.style\
.format(precision=3, thousands=",", decimal='.')\
.format_index(str.upper,axis=1)\
.relabel_index(["列1","列2"])

  strings  ints    floats
0    Adam     1     1.123
1    Mike     3  1000.230

In [8]:
weather_df = pd.DataFrame(np.random.rand(600, 2)*5,
                          index=pd.date_range(start="2024-01-01", periods=600),
                          columns=["東京", "台北"])
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 600 entries, 2024-01-01 to 2025-08-22
Freq: D
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   東京      600 non-null    float64
 1   台北      600 non-null    float64
dtypes: float64(2)
memory usage: 14.1 KB

In [9]:
weather_df.loc["2024-01-10":"2024-01-30"]
weather_df.loc["2024-01"]
weather_df.loc["2024"]

                  東京        台北
2024-01-01  1.485989  3.070175
2024-01-02  2.065660  2.659445
2024-01-03  0.289463  0.619106
2024-01-04  4.937093  3.350273
2024-01-05  3.410494  4.756682
...              ...       ...
2024-12-27  2.383169  4.302283
2024-12-28  0.605030  0.318564
2024-12-29  3.448069  3.172111
2024-12-30  3.922903  1.476668
2024-12-31  1.091934  4.423820

[366 rows x 2 columns]